[run]
branch = true
data_file = ${COVERAGE_DATAFILE-.coverage}
include = snekbox/*
omit =
    snekbox/api/app.py
    snekbox/config_pb2.py
relative_files = true

[report]
exclude_lines =
    pragma: no cover
    if DEBUG
