[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "~= 2.0.0"
gunicorn = "~= 20.0"
jsonschema = "~= 3.2"
protobuf = "== 3.19.*"
sentry-sdk = {extras = ["falcon"], version = "~= 0.19.3"}

[dev-packages]
coverage = "~= 6.0"
flake8 = "~= 3.8.4"
flake8-annotations = "~= 2.5.0"
flake8-bugbear = "~= 20.11"
flake8-docstrings = "~= 1.5"
flake8-formatter-junit-xml = "~= 0.0.6"
flake8-import-order = "~= 0.18.1"
flake8-quotes = "~= 3.2"
flake8-string-format = "~= 0.3.0"
flake8-tidy-imports = "~= 4.2"
flake8-todo = "~= 0.7"
pep8-naming = "~= 0.11.1"
pre-commit = "~= 2.9.3"
pydocstyle = "~= 5.1"

[requires]
python_version = "3.10"

[scripts]
eval = "python -m snekbox"
webserver = "gunicorn -c config/gunicorn.conf.py snekbox.api.app"

# Linting
lint = "pre-commit run --all-files"
precommit = "pre-commit install"

# Testing
report = "coverage report"
# Fix ownership of the coverage file even if tests fail & preserve exit code
# Install numpy because a test checks if it's importable
test = """
    docker-compose run --entrypoint /bin/bash --rm snekbox -c \
    'env PYTHONUSERBASE=/snekbox/user_base pip install numpy && coverage run -m unittest; e=$?; chown --reference=. .coverage; exit $e'
"""

# Docker
build = "docker build -t ghcr.io/python-discord/snekbox:latest ."
devsh = "docker-compose run --entrypoint /bin/bash --rm snekbox"

# Other
protoc = "python -m scripts.protoc"
