[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "~= 2.0.0"
gunicorn = "~= 20.0"
jsonschema = "~= 3.2"
sentry-sdk = {extras = ["falcon"], version = "~= 0.19.3"}

[dev-packages]
coverage = "~= 5.3"
flake8 = "~= 3.8.4"
flake8-annotations = "~= 2.5.0"
flake8-bugbear = "~= 20.11"
flake8-docstrings = "~= 1.5"
flake8-formatter-junit-xml = "~= 0.0.6"
flake8-import-order = "~= 0.18.1"
flake8-quotes = "~= 3.2"
flake8-string-format = "~= 0.3.0"
flake8-tidy-imports = "~= 4.2"
flake8-todo = "~= 0.7"
pep8-naming = "~= 0.11.1"
pre-commit = "~= 2.9.3"
pydocstyle = "~= 5.1"

[requires]
python_version = "3.9"

[scripts]
lint = "flake8"
precommit = "pre-commit install"
test = "sh scripts/dev.sh -c 'pipenv run coverage run -m unittest'"
testb = """
    sh scripts/dev.sh \
        --build \
        --clean \
        -c 'pipenv run coverage run -m unittest'
"""
report = "coverage report"
snekbox = "gunicorn -c config/gunicorn.conf.py snekbox.api.app"
devsh = "sh scripts/dev.sh"
build = """
    docker build \
        -t ghcr.io/python-discord/snekbox:latest \
        -f Dockerfile \
        .
"""
builddev = """
    docker build \
        -t ghcr.io/python-discord/snekbox-venv:dev \
        -f Dockerfile \
        --target venv \
        --build-arg DEV=1 \
        .
"""
