[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
flask = "*"
gevent = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
pytest-dependency = "*"

[requires]
python_version = "3.6"

[scripts]
lint = "flake8"
test = "py.test tests --cov . --cov-report term-missing -v"
report = "py.test tests --cov . --cov-report=html"
snekbox = "gunicorn -w 2 -b 0.0.0.0:8060 snekbox:app"
buildbox = "docker build -t pythondiscord/snekbox:latest -f docker/Dockerfile ."
pushbox = "docker push pythondiscord/snekbox:latest"
buildboxbase = "docker build -t pythondiscord/snekbox-base:latest -f docker/base.Dockerfile ."
pushboxbase = "docker push pythondiscord/snekbox-base:latest"
buildci = "docker build -t pythondiscord/snekbox-ci:latest -f docker/ci.Dockerfile ."
pushci = "docker push pythondiscord/snekbox-ci:latest"
